<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oa.user.permission.dao.PermissionDao">
    <resultMap id="BaseResultMap" type="oa.user.permission.entity.PermissionEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="rowstamp" jdbcType="BIGINT" property="rowstamp"/>
        <result column="createuser" jdbcType="BIGINT" property="createuser"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifyuser" jdbcType="BIGINT" property="modifyuser"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, rowstamp, createuser, createtime, modifyuser, modifytime, permission, name, alias, 
    remark,url
  </sql>
    <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bs_permission
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bs_permission;
    </select>

    <select id="batchQuery" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bs_permission
        where permission in
        <foreach collection="list" index="index" item="permission" open="(" close=")" separator=",">
            #{permission,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="batchQueryByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bs_permission
        where id in
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <delete id="delete" parameterType="java.lang.Long">
    delete from bs_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="oa.user.permission.entity.PermissionEntity">
    insert into bs_permission (id, rowstamp, createuser, 
      createtime, modifyuser, modifytime, 
      permission, name, alias, 
      remark,url)
    values (#{id,jdbcType=BIGINT}, #{rowstamp,jdbcType=BIGINT}, #{createuser,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifyuser,jdbcType=BIGINT}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{permission,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="oa.user.permission.entity.PermissionEntity">
        insert into bs_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="rowstamp != null">
                rowstamp,
            </if>
            <if test="createuser != null">
                createuser,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="modifyuser != null">
                modifyuser,
            </if>
            <if test="modifytime != null">
                modifytime,
            </if>
            <if test="permission != null">
                permission,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="alias != null">
                alias,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="rowstamp != null">
                #{rowstamp,jdbcType=BIGINT},
            </if>
            <if test="createuser != null">
                #{createuser,jdbcType=BIGINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyuser != null">
                #{modifyuser,jdbcType=BIGINT},
            </if>
            <if test="modifytime != null">
                #{modifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="alias != null">
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="oa.user.permission.entity.PermissionEntity">
        update bs_permission
        <set>
            <if test="rowstamp != null">
                rowstamp = #{rowstamp,jdbcType=BIGINT},
            </if>
            <if test="createuser != null">
                createuser = #{createuser,jdbcType=BIGINT},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyuser != null">
                modifyuser = #{modifyuser,jdbcType=BIGINT},
            </if>
            <if test="modifytime != null">
                modifytime = #{modifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="alias != null">
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="oa.user.permission.entity.PermissionEntity">
    update bs_permission
    set rowstamp = #{rowstamp,jdbcType=BIGINT},
      createuser = #{createuser,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      modifyuser = #{modifyuser,jdbcType=BIGINT},
      modifytime = #{modifytime,jdbcType=TIMESTAMP},
      permission = #{permission,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>