<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oa.user.permission.dao.RolePermissionDao">
    <resultMap id="BaseResultMap" type="oa.user.permission.entity.RolePermissionEntity">
        <result column="roleid" jdbcType="BIGINT" property="roleid"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <sql id="Base_Column_List">
    roleid, permission, url
  </sql>
    <select id="queryByRoleid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bs_rolepermission
        where roleid = #{roleid,jdbcType=BIGINT}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bs_rolepermission;
    </select>

    <insert id="insert" parameterType="oa.user.permission.entity.RolePermissionEntity">
    insert into bs_rolepermission (roleid, permission, url
      )
    values (#{roleid,jdbcType=BIGINT}, #{permission,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into bs_rolepermission(roleid, permission, url)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.roleid},#{item.permission},#{item.url}
            )
        </foreach>
    </insert>
    <delete id="deleteRolePermissions" parameterType="java.lang.Long">
    delete from bs_rolepermission
    where roleid = #{roleid,jdbcType=BIGINT}
</delete>
</mapper>